.nav-link{
    font-size: 32px;
    color: white;
    font-weight: 600;

    text-decoration: none;
}
.nav-link.primary{
    background-color: var(--primary-color);
    padding: 0px 16px;
    border-radius: 4px;
}
.nav-link:hover{
    color: var(--primary-color);   
}
.nav-link.primary:hover{
    color: white;
    filter:brightness(1.2);
}