.feature-item{
    background-color: var(--navy-blue);
    border-radius: 4px;
    display: flex;
    color: white;
    align-items: center;
    gap: 16px;
    font-size: 18px;
    font-weight: 700;
    padding: 16px;
}