#mobile-header {
    display: none;
    align-items: center;
    justify-content: space-between;
    padding: 8px;

    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(16px);

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
}

.menu-icon {
    width: 40px;
    transition: transform 0.3s ease-in-out;
}

.menu-icon.open {
    transform: rotateZ(45deg);
}

#mobile-nav {
    display: none;
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    height: calc(100vh - 100%);

    flex-direction: column;
    align-items: center;
    gap: 16px;
    padding: 32px 0px;
}

#mobile-nav.open {
    display: flex;
}

#mobile-nav>a {
    color: white;
    font-size: 22px;
    font-weight: 800;
    text-decoration: none;
}

#mobile-nav>a:hover {
    color: var(--primary-color);
}


@media only screen and (max-width: 900px) {
    #mobile-header {
        display: flex;
    }
}